// @import "../helpers/reset";
// @import "../helpers/bootstrap-grid";

// @import 'bootstrap-sass/stylesheets/bootstrap';
$gray: #f0f0f0;
$color-text: #333;

body {
    color: $color-text;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

ul>li {
    list-style: none;
    // display: inline-block;
}

.clearfix:after {
        content: ' ';
        display: block;
        clear: both;
}

/*
.main-head {
    padding-top: 20px;

    nav {
        line-height: 26px;

        .logotype {
            background: url('../../images/logo.png') 0 0 no-repeat;
            background-size: contain;
            height: 26px;
        }

        .menu {
            li {
                display: inline-block;
                padding: 0 5px 0 5px;
                margin: 0 5px 0 5px;

                a {
                    color: #333;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

        }

    }

}
*/

//RESHUFFLE

.main-head {
    padding-top: 20px;
    line-height: 30px;

    .logo {
        background: url('../../images/logo.png') 0 0 no-repeat;
        background-size: contain;
        height: 30px;
        float: left;
    }

    .menu {
        padding-left: 0;
        float: left;
        line-height: 27px;
        padding-top: 3px;

        .menu-item {
            display: inline-block;
            margin-left: 20px;

            a {
                color: #333;
                &:hover {
                    color: blue;
                    text-decoration: none;
                }
            }
        }
    }

    .user {
        overflow: hidden;
        .menu {
            float: right;
            .user-ph {
                display: block;
                background: url('../../images/profile.png') 0 0 no-repeat;
                background-size: contain;
                border-radius: 50%;
                height: 41px;
                width: 41px;
            }
        }
        
    }

    .gray {
        background-color: $gray;
        padding: 20px 0 20px 0;
    }


}
